@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.item {
  min-height: 50px;
  width: 240px;
  padding: 0 20px;
  margin-bottom: 15px;
  color: #2f363f;
  @include flex-between;
  .actions {
    @include flex-between;
    width: 50px;
    &.hidden {
      display: none;
    }
  }
  .btn {
    @include item_button;
  }
  &:hover .btn {
    display: block;
  }
  input {
    outline: none;
    border: none;
    height: 30px;
    padding: 0;
  }
}

$types: (
  red: (
    input-underline: $color-red-light,
    item-color: $color-red-hover,
  ),
  yellow: (
    input-underline: $color-yellow-light,
    item-color: $color-yellow-hover,
  ),
  green: (
    input-underline: $color-green-light,
    item-color: $color-green-hover,
  ),
);

@each $status, $styles in $types {
  .#{$status} {
    background-color: map-get($styles, item-color);
    input {
      border-bottom: map-get($styles, input-underline) 1px solid;
      background-color: map-get($styles, item-color);
    }
  }
}
