$color-red: #ff7575;
$color-red-light: #ffe9e9;
$color-red-hover: #ffcdcd;

$color-yellow: #ffc02a;
$color-yellow-light: #fffabf;
$color-yellow-hover: #ffe29c;

$color-green: #50e3c2;
$color-green-light: #ccfff4;
$color-green-hover: #abf0e1;