@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
@import "./mixins";

body{
  @include font-default;
  input, button{
    @include font-default;
    font-weight: 400;
  }
}

.home {
  background: url('../img/bgImg.jpeg') no-repeat center center /cover;
  min-height: 100vh;
  
}

input{
  outline: none;
  border: none;
}

